<div>
  <hr>
  <div style=" display: -webkit-flex; -webkit-flex-wrap: wrap; display: flex; flex-wrap: wrap; -webkit-justify-content: space-between; ">
    <p style="color: rgb(85, 81, 81); font-size: 9pt;">
      <span class="c0">
        <b>Patient &amp; Scheduling Information System</b>
      </span>
    </p>
    <p style="color: rgb(85, 81, 81); font-size: 9pt;">
      <span>
        <%- content -%>
      </span>
    </p>
  </div>
</div>